/** LINK COLORING **/
a, a:link, a:visited {
	color: #e84747;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}

/** DEFAULT BODY STYLES **/
body {
    	background-color: #111;
    	color: #ffffff;
    	font-family: 'Droid Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

/** HEADER STYLES **/
h1.tutorial,
h2.tutorial,
h3.tutorial,
h4.tutorial,
h5.tutorial {
	color: #ffffff;
}
h2.tutorial,
h3.tutorial,
h4.tutorial,
h5.tutorial {
	text-align: center;
}
h1.tutorial {
	line-height: 60px;
	font-size: 3.0em;
}
h2.tutorial {
	font-size: 2.25em;
}
h3.tutorial {
	font-size: 1.5em;
}
h4.tutorial {
	font-size: 1.25em;
}
h5.tutorial {
	font-size: 1.125em;
}

/** IMAGE DISPLAY **/
img.tutorial {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/** CODE AND EXAMPLE PRESENTATION **/
code {
	background-color: #f5f5f5;
	color: #000000;
}
pre {
	background-color: #f5f5f5;
	color: #000000;
}
blockquote {
	background-color: #f5f5f5;
	color: #000000;
}
blockquote.tutorialexample {
	font-family: "monospace";
}

/** SELECTOR **/
img.select {
	opacity: 0.5;
}
img.select:hover {
	opacity: 1;
}
span.select {
	opacity: 0.5;
}
span.select:hover {
	opacity: 1;
}

/** FORMS **/
input.code {
	font-family: "monospace";
}
textarea.code {
	font-family: "monospace";
}