ul.select a {
	color: inherit;
	text-decoration: none;
}

@media all and (min-width: 737px)
{
	div#pt-main {
		background: url(../img/PaulsTutorials-background.png) no-repeat center center;
	}
	ul.select {
		display: block;
		line-height: 200px;
		text-align: center;
		vertical-align: middle;
		font-family: Andale Mono, monospace;
		font-weight: bold;
	}
	ul.select > li {
		display: inline-block;
		vertical-align: middle;
		font-size: 80px;
		margin-right: 40px;
		color: #878787;
	}
	ul.select > li:hover {
		color: #ffffff;
		font-size: 160px;
	}
	ul.select img {
		opacity: 0.5;
		width: 80px;
	}
	ul.select > li:hover img {
		opacity: 1.0;
		width: 160px;
	}
	span.mobile-select {
		display: none;
	}
}

@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 2)
{
	p#tdesc {
		display: none;
	}
	ul.select {
		list-style-type: none;
		vertical-align: middle;
		font-family: Andale Mono, monospace;
		padding: 0px 1em;
	}
	ul.select > li {
		display: list-item;
		list-style-type: none;
		font-size: 2em;
		vertical-align: middle;
		line-height: 2.5em;
		height: 2.5em;
		background-color: #333333;
		border-style: solid;
		border-color: #ffffff;
		border-width: 1px;
		padding-left: 5px;
	}
	ul.select a {
		display: block;
		vertical-align: middle;
	}
	ul.select img {
		position: relative;
		top: 10px;
		width: 40px;
		display: inline;
	}
	span.mobile-select {
		font-family: 'Droid Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
		font-size: 0.6em;
		margin-left: 20px;
	}
}
	
@media only screen and (max-width: 736px) and (-webkit-max-device-pixel-ratio: 1.9)
{
	p#tdesc {
		display: none;
	}
	ul.select {
		list-style-type: none;
		vertical-align: middle;
		font-family: Andale Mono, monospace;
		margin-right: 1em;
	}
	ul.select > li {
		display: list-item;
		list-style-type: none;
		font-size: 1.5em;
		vertical-align: middle;
		line-height: 2.5em;
		height: 2.5em;
		background-color: #333333;
		border-style: solid;
		border-color: #ffffff;
		border-width: 1px;
		padding-left: 5px;
	}
	ul.select a {
		display: block;
		vertical-align: middle;
	}
	ul.select img {
		position: relative;
		top: 10px;
		width: 40px;
		display: inline;
	}
	span.mobile-select {
		font-family: 'Droid Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
		font-size: 0.6em;
		margin-left: 20px;
	}
}