/** LINK COLORING **/
a, a:link, a:visited {
	color: #e84747;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}

/** DEFAULT BODY STYLES **/
body {
    	background-color: #111;
    	color: #ffffff;
    	font-family: 'Droid Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

/** HEADER STYLES **/
h1.tutorial,
h2.tutorial,
h3.tutorial,
h4.tutorial,
h5.tutorial {
	color: #ffffff;
}
h2.tutorial,
h3.tutorial,
h4.tutorial,
h5.tutorial {
	text-align: center;
}
h1.tutorial {
	line-height: 60px;
	font-size: 3.0em;
}
h2.tutorial {
	font-size: 2.25em;
}
h3.tutorial {
	font-size: 1.5em;
}
h4.tutorial {
	font-size: 1.25em;
}
h5.tutorial {
	font-size: 1.125em;
}

/** IMAGE DISPLAY **/
img.tutorial {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
}
img.large {
	height: 400px;
}

/** CODE AND EXAMPLE PRESENTATION **/
code {
	background-color: #002b36;
	color: #b2b2b2;
	padding: 2px;
	margin: 2px;
}
a code {
	color: inherit;
}
pre {
	background-color: #002b36;
	color: #b2b2b2;
	padding: 5px;
}
blockquote {
	background-color: #002b36;
	padding: 5px;
	color: #b2b2b2;
}
blockquote.tutorialexample {
	font-family: monospace;
}
dl.tutorial > dt {
	font-family: "monospace";
	background-color: #002b36;
	color: #b2b2b2;
	padding: 5px;
	margin-left: 10px;
	display: inline-block;
}
dl.tutorial dd {
	margin-top: 5px;
}

/** TABLES **/
table {
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}

table td, table th {
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

table.codeOutput {
	width: 75%;
}

table.codeOutput td, table.codeOutput th {
	width: 37.5%;
}

table.codeOutput th {
	background-color: #555555;
}

table.codeOutput tr:nth-child(2) > td:first-child {
	background-color: #1b2426;
}

table.codeOutput tr:nth-child(2) > td:nth-child(2) {
	background-color: #002b36;
	color: #b2b2b2;
	font-family: monospace;
	font-size: 1.25em;
}

table.inputOutput {
	width: 50%;
}

table.inputOutput td, table.codeOuput th {
	width: 25%;
}

table.inputOutput th {
	background-color: #555555;
}

table.inputOutput tr > td:first-child {
	background-color: #1b2426;
	font-family: monospace;
	font-size: 1.25em;
}

table.inputOutput tr > td:nth-child(2) {
	background-color: #002b36;
	color: #b2b2b2;
	font-family: monospace;
	font-size: 1.25em;
}

/** FORMS **/
input.code {
	font-family: monospace;
}
textarea.code {
	font-family: monospace;
}

/** NAVIGATION BAR **/

div.contain,
div.containCh,
div.containWpi {
	position: relative;
	float: left;
	display: inline-block;
	height: 1.25em;
}
div.contain {
	width: 200px;
}

div.containCh {
	width: 105px;
}

div.containWpi {
	width: 160px;
}

div.containCh:hover,
div.containWpi:hover {
	width: 200px;
}

div.path {
	float: left;
	display: inline-block;
}

div.subNav {
	position: absolute;
}

div.path span {
	font-size: 1.25em;
	display: block;
	height: 100%;
	padding: 10px;
	white-space: nowrap;
}

div.path a {
	color: inherit;
	text-decoration: none;
	font-size: 1.15em;
	display: block;
	padding: 5px;
}

div.path a.main {
	font-size: 1.25em;
	height: 100%;
	width: 100%;
	padding: 10px;
	white-space: nowrap;
}

div.path:hover {
	background-color: #555555;
}

div.path ul {
	display: none;
	padding: 0px 10px 10px 10px;
}

div.path ul > li {
	list-style-type: none;
}

div.path ul > li:hover {
	background-color: #777777;
}

div.path:hover ul {
	display: block;
}

div.separator {
	position: relative;
	top: 10px;
	text-align: center;
	padding: 12px;
	margin-boottom: 6px;
	margin-left: 10px;
	float:left;
	height: 1px;
	width: 0.5em;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

div.separator:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 50%;
	width: 51%;
	background: #777777;
	-webkit-transform: skew(0deg, 30deg);
	-moz-transform: skew(0deg, 30deg);
	-ms-transform: skew(0deg, 30deg);
	-o-transform: skew(0deg, 30deg);
	transform: skew(0deg, 30deg);
}

div.separator:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 51%;
	width: 51%;
	background: #777777;
	-webkit-transform: skew(0deg, -30deg);
	-moz-transform: skew(0deg, -30deg);
	-ms-transform: skew(0deg, -30deg);
	-o-transform: skew(0deg, -30deg);
	transform: skew(0deg, -30deg);
}

div.reset {
	clear: both;
}

/** FOOTER NAVIGATION **/
p#navTitle {
	text-align: center;
	font-size: 0.8em;
}

table#footNav {
	width: 100%;
	border: none;
	border-collapse: separate;
}

table#footNav td {
	border: none;
}

td#prev, td#next {
	width: 40%;
}

table#footNav td#cur {
	width: 20%;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #555555;
	background-color: #333333;
}

td#prev a, td#next a {
	color: inherit;
	display: inline-block;
	font-size: 1.25em;
	text-decoration: none;
	padding: 10px;
}

td#prev a:hover, td#next a:hover {
	background-color: #555555;
}

td#prev {
	text-align: right;
}

td#next {
	text-align: left;
}
